name: nrgug
description: "NRG Radio Uganda - Live Radio Streaming App"

publish_to: 'none' 


version: 1.0.0+1

environment:
  sdk: ^3.9.2


dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  icons_plus: ^5.0.0
  
  radio_player: ^2.2.1
  webview_flutter: ^4.10.0
  http: ^1.6.0
  connectivity_plus: ^6.1.5
  shared_preferences: ^2.3.3
  avatar_plus: ^0.0.5
  shimmer: ^3.0.0
  url_launcher: ^6.3.1

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^6.0.0
  flutter_launcher_icons: ^0.14.4


flutter:

  uses-material-design: true

  assets:
    - assets/

flutter_launcher_icons:
  android: true
  ios: true
  image_path: "assets/nrg_logo_stretched.png"
  min_sdk_android: 21
  remove_alpha_ios: false
