name: nrgug
description: "A new Flutter project."

publish_to: 'none' 


version: 1.0.0+1

environment:
  sdk: ^3.9.2


dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  icons_plus: ^5.0.0
  
  radio_player: ^2.2.1
  webview_flutter: ^4.4.2
  http: ^1.2.0
  connectivity_plus: ^6.0.5

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^5.0.0
  flutter_launcher_icons: ^0.13.1


flutter:

  uses-material-design: true

  assets:
    - assets/

flutter_launcher_icons:
  android: true
  ios: true
  image_path: "assets/nrg_logo_stretched.png"
  min_sdk_android: 21
  remove_alpha_ios: false
